body {
    padding-top: 50px;
}

#seccion__inicio {
    padding: 300px 50px 300px 50px;
    font-family: monospace;
    font-size: 40px;
    color: black;
}

#seccion__beneficios {
    background-color: #BFD0D5;
    padding: 100px;
}

#seccion__inicio {
    background: white;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(0deg, skyblue, white, white, skyblue);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, skyblue, white, white, skyblue);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, skyblue, white, white, skyblue);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, skyblue, white, white, skyblue);
    /* Standard syntax (must be last) */
}

#seccion__productos {
    background-color: black;
    padding-bottom: 100px;
}

#seccion__productos h1 {
    text-align: center;
    padding: 70px 0px 10px;
}

#seccion__2video {
    background-image: url('../images/fond1.jpg');
    text-align: center;
    padding: 95px;
    color: white;
    font-size: 25px;
}

#seccion__contacto {
    background-image: url('../images/fond2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 100px 200px 100px;
    font-size: 20px;
    text-align: center;
}

#titul {
    text-align: center;
    padding-bottom: 20px;
}

#seccion__contacto p {
    padding: 50px 0px 50px 0px;
}

#seccion__contacto ul li {
    list-style: none;
    padding-bottom: 20px;
}

#seccion__comentarios {
    background-color: darkgrey;
    padding: 200px 50px 200px 50px;
}

#seccion__comentarios h1, h5 {
    text-align: center;
}

#seccion_copyright {
    text-align: center;
    background-color: #191842;
    color: white;
}

.comment {
    margin: 0 auto;
    width: 300px;
    border: 2px solid;
    padding: 20px;
    border-radius: 30px;
}

.name, .email {
    box-sizing: border-box;
    width: 100%;
    border: 0;
    border-bottom: 1px solid;
    margin-bottom: 15px;
    background: none;
    color: black;
}

.comentario {
    box-sizing: border-box;
    width: 100%;
    border: 3px solid black;
    margin-bottom: 15px;
    background: none;
    color: black;
}

.boton {
    width: 100%;
    background: #585B5C;
    color: white;
    border: 0;
    border-radius: 50px;
    padding: 10px;
    text-decoration: none;
}

.boton:hover {
    cursor: pointer;
    background: #969EA1;
    text-decoration: none !important;
}

#seccion__contacto i {
    padding-right: 20px;
    font-size: 30px;
}

#call {
    padding-right: 40px;
}

#dir {
    padding-right: 30px;
}

#contact {
    padding-left: 10px;
}

.thumbnail {
    height: 550px;
    text-align: center;
    box-shadow: 0px 0px 15px #fff;
    margin-bottom: 150px;
    margin-top: 100px;
}

.thumbnail img {
    padding: 30px;
}

#seccion__2 {
    padding: 240px 100px 200px 100px;
    text-align: justify;
}

#seccion__2 p {
    margin-top: 50px;
}

.carousel-inner img {
    height: 620px!important;
    width: 100%!important;
}

.seccion__redesSociales {
    position: fixed;
    /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
    left: -40px;
    /* Establecemos la barra en la izquierda */
    top: 200px;
    /* Bajamos la barra 200px de arriba a abajo */
    z-index: 2000;
    /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.seccion__redesSociales ul {
    list-style: none;
}

.seccion__redesSociales ul li a {
    text-align: center;
    font-size: 20px;
    left: 10px;
    width: 50px;
    height: 40px;
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 600ms ease;
    /* Establecemos una transición a todas las propiedades */
}

.seccion__redesSociales ul li .fa-facebook {
    background: #3b5998;
}


/* Establecemos los colores de cada red seccion__redesseccion__redesSocialeses, aprovechando su class */

.seccion__redesSociales ul li .fa-twitter {
    background: #00abf0;
}

.seccion__redesSociales ul li .fa-google-plus {
    background: #d95232;
}

.seccion__redesSociales ul li .fa-instagram {
    background: #ae181f;
}

.seccion__redesSociales ul li .fa-envelope {
    background: #666666;
}

.seccion__redesSociales ul li a:hover {
    background: #000;
    /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 10px 40px;
    /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
}

#myImg:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 91px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.9s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0.1)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 55px;
    right: 35px;
    color: #f1f1f1;
    font-size: 45px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.container {
    position: relative;
    width: 90%;
}

#image, #image1, #image2 {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-left {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    opacity: 0.7;
    height: 100%;
    transition: .5s ease;
}

.overlay-right {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    opacity: 0.7;
    height: 100%;
    transition: .5s ease;
}

.container:hover .overlay-left {
    width: 100%;
}

.container:hover .overlay-right {
    width: 100%;
    left: 0;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlay-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover .overlay-overlay {
    opacity: 0.7;
}

.text-overlay {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.contenedor {
    margin: auto;
    display: table;
}

.contenedor h1 {
    position: relative;
    float: left;
    color: black;
}

.contenedor h1 span {
    position: absolute;
    right: 0;
    width: 0;
    background: white;
    border-left: 1px solid #000;
    animation: escribir 5s steps(18) infinite alternate;
}

@keyframes escribir {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}


/* Three columns side by side */

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}


/* Display the columns below each other instead of side by side on small screens */

@media (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}


/* Add some shadows to create a card effect */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/* Some left and right padding inside the container */

.container {
    padding: 0 16px;
}


/* Clear floats */

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}
